@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary-blue: #182f5a;
  --color-secondary-blue: #066982;
  --color-pink: #d22966;

  --width-container: 85%;

}
